body{
  background: #edeae1;
}
.main{
  width= 1330px;
  height: auto;
}
.div1{
  width: 1324px;
  height: 150px;
  background: #F5F5F5;
  margin-left: 4px;
}
.logdiv{
  width: 1324px;
  height: auto;
  background-image: url("ddd.jpg");

}
table{
  float: right;
  font-family: inherit;
  margin-right: 180px;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
.txt1{
  font-size: 14px;
  color: white;
}
.log{
    color: white;
    background: #6b6473;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
    padding: 1px;
    width: 60px;

}
.log:hover{
  background: #7694b3;
}
.p2 a{
  color: #c9cdd6;
  font-size: 13px;
  cursor: mouse;
  text-decoration: none;
}
.inputext{
  width: 150px;
  height: 17px;
  margin-right: 20px;
}
.fb a{
  text-decoration: none;
  font-size: 40px;
  color: white;
  font-family: Berlin Sans FB;
  margin-left: 135px;

}

.div2{
  margin-left: 4px;
  width: 655px;
  height: 900px;
  float: left;
}
.div3{
  margin-right: 4px;
  width: 655px;
  height: 900px;
  float: right;
}
.textside{
  line-height:.5;
}
.sign1{
  color: black;
  font-size: 40px;
  font-weight: bold;
}
.name{
  width: 193.98px;
  height: 38.89px;
  padding-left: 10px;
  border-radius: 7px;
  margin-right:10px;
}
input::placeholder{
  color:#535863;
  font-size: 19px;
}
input[type="text"]{
  outline: none;
}
.eml{
  width: 415px;
  height: 38.89px;
  padding-left: 10px;
  border-radius: 7px;
}
.phn{
  width: 300px;
  height: 38.89px;
  padding-left: 10px;
  border-radius: 7px;
}
.brth{
  font-size: 18px;
  font-weight: bold;
  color: #737475;
}
.date{
  width: 180px;
  height: 28px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 7px;
}
.gender{
  font-size: 21px;
  margin-left: 10px;
}
.country{
  width: 180px;
  height: 28px;
  padding-left: 10px;
  font-size: 20px;
  border-radius: 7px;
}
.lan{
  margin-left: 8px;
}
.url{
  width: 210px;
  height: 20px;
  padding-left: 10px;
  border-radius:5px
}
.trd{
  font-size: 16px;
}
.trd a{
  text-decoration: none;
}
.trd a:hover{
  text-decoration: underline;
}
.sub{
  width: 150px;
  height: 34px;
  text-align: center;
  background: green;
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding-top: 4px;
  border-radius: 7px;
  cursor: pointer;
}
.sub:hover{
  background: #82910a;
}
.details{
  font-size: 22px;
  margin-left: 90px;
  margin-top: 50px;
  color: #0f0f0f;
  font-weight:bold;
  font-variant: small-caps;
  opacity: 0.7;
}
.tutu{
  width: 543px;
  height: 400px;
  background-image: url("job1.png");
  margin-left: 80px;
  margin-top: 40px;
}
.img2{
  width: 543px;
  height: 400px;
  background-image: url("circle.png");
  margin-left: 80px;
  margin-top: 100px;
}
.logemail{
  width: 300px;
  height: 38.89px;
  padding-left: 10px;
  border-radius: 7px;
  margin-left: 25px;
}
.logpass{
  width: 300px;
  height: 38.89px;
  padding-left: 10px;
  border-radius: 7px;
  margin-left: 8px;
}
.subreg{
  width: 200px;
  height: 34px;
  text-align: center;
  background: green;
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding-top: 4px;
  border-radius: 7px;
  cursor: pointer;
}
.sigup{
  width: 350px;
  height: 34px;
  text-align: center;
  background: green;
  color: white;
  font-weight: bold;
  font-size: 17px;
  padding-top: 4px;
  border-radius: 7px;
  cursor: pointer;
}
.pp{
  margin-left: 500px;
  font-size: 40px;
  font-family: monospace;

}
.sigup a {

  text-decoration: none;
  color: white;
}
.f1{
  margin-left: 500px;
}
.content{

}
.navber{
  width: 1320px;
  height: 60px;
  background: #4267B2;
  padding-top: 1px;
}
.ul{
	list-style:none;
}
ul li{
	float: left;
	border:0px solid black;
	margin-left:107px;
	text-align:center;
	border-top-left-radius:5px;
	border-bottom-right-radius:7px;
	font-family:comic sans ms;
	font-variant: small-caps;
	font-weight:bold;
	font-size: 20px;
	cursor: pointer;
  list-style: none;
  color: white;
}
ul li:hover{
	background: #5D99CF;
}
.lo:hover{
  background: #DC2F2F;
}
.body123{
  width: 1320px;
  height: auto;
}
.manu{
  width: 300px;
  height: 600px;
  border-style: groove;
}
.bodypost{
  width: 700px;
  height: auto;
  border-style: groove;
}
.chat{
  width: 300px;
  height: 600px;
  border-style: groove;
}
 .profile_pic{
   
   height: 300px;
   width: 300px;
   border: 1px solid black;
   margin-top: 20px;
   float: left;
  
   
 }
 .profile_pic1{
  height: 300px;
  width: 300px;
 }

 .prof_name{
   height: 300px;
   width: 800px;
   margin-top: 20px;
   border: 1px solid black;
   float: left;
   margin-left: 155px;
   background-image: url("robincover.jpg");
   
 }

 .robin_hossen{
   margin-left: 40%;
   color: black;
   float: left;
 }
 
 .prof-nav{
   float: left;
   margin-top: 20px;
   text-align: center;
   margin-left: 24%;
 }

 .pro-btn{
   padding: 10px 100px;
 }